.cart {
  background-color: white;
  background-image: url('../../assets/cart.svg');
  border: none;
  color: white;
  height: 50px;
  margin: 0;
  width: 50px;
}

.cart p {
  background-color: rgb(161, 10, 10);
  border-radius: 100%;
  float: right;
  font-weight: 700;
  height: 20px;
  margin-top: 0;
  text-align: center;
  width: 20px;
}
