.header {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 5px;
}

.inner-container {
  display: flex;
}

.categories-container {
  border: 1px solid black;
  margin-right: 3px;
  padding: 5px;
}